*{
	padding: 0;
	margin: 0;
	font-family: century gothic;
}
body
{
	background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.7)),url(10.jpg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
H1{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color:#101820ff;
}
p{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #808080;
}
ul{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}